<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

        <!--<img src="img/logo.png" alt="logo">-->

        <main class="ontainer">
            <div class="jumbotron">

                <h1>Welcome to <%= title %> Page</h1>
                <div class="c1">
                    <div class="c11"><img src="/img/my.png"" alt=""></div>
        <div class=" c11">
                        <p>Name : Dhruvit Bhavsar <br>College : Centennial college </p>
                        <p1>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus aliquid
                            quis unde quia distinctio? Ducimus rerum explicabo omnis ex odit corrupti, qui perspiciatis
                            deserunt earum pariatur, reprehenderit saepe aspernatur repellat culpa autem consectetur
                            necessitatibus architecto veniam totam, et molestiae quam inventore hic optio! Eius quod nam
                            itaque ratione minus animi rerum repudiandae id, quo quidem dolor earum ipsam blanditiis
                            saepe ullam deleniti, deserunt qui facilis iure ad nisi beatae nulla est! Sequi magni
                            deserunt tenetur aperiam commodi, cumque recusandae eligendi perspiciatis ipsam culpa dicta
                            ullam ex temporibus esse itaque ea, blanditiis molestiae exercitationem vel, odio fugiat
                            neque. Veniam, voluptatem. Ratione!</p1>

                    </div>
                </div>

            </div>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>