<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1>
    <div class="container">
        <h1>Contact Form</h1>
        <hr>
        <div class="det">
            <span>Name:</span><br>
            <input type="text" >
        </div>
        <div class="det">
            <span>Student No:</span><br>
            <input type="text" >
        </div>
        <div class="det">
            <span>Address:</span><br>
            <input type="text" >
        </div>
        <div class="det">
            <span>College Name:</span><br>
            <input type="text" >
        </div>
        <div class="det">
            <span>Phone No:</span><br>
            <input type="text" >
        </div>
        <div class="det">
            <button>Submit</button>
        </div><br><br><br>
        

    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   