<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>


<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1> <br><br>
    <div class="c1">
        <div class="c11"><img src="/img/about.jpg" alt=""></div>
        <div class="c11"><h1>About Me <br></h1><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, aperiam voluptatum omnis magni placeat officiis fuga debitis odit vero accusamus sequi quasi, saepe repudiandae impedit iste recusandae sapiente sed, totam vitae assumenda quam dolorum ex maiores? Ipsam id laboriosam obcaecati ratione, fugiat velit architecto enim pariatur tenetur! Consectetur, a iusto?</p>
        </div>
    </div>
    <div class="c1">
        <div class="c11"><img src="/img/contactt.png" alt=""></div>
        <div class="c11"><h1>Projects  <br></h1><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, aperiam voluptatum omnis magni placeat officiis fuga debitis odit vero accusamus sequi quasi, saepe repudiandae impedit iste recusandae sapiente sed, totam vitae assumenda quam dolorum ex maiores? Ipsam id laboriosam obcaecati ratione, fugiat velit architecto enim pariatur tenetur! Consectetur, a iusto?</p>
        </div>
    </div>
    <div class="c1">
        <div class="c11"><img src="/img/2.jfif" alt=""></div>
        <div class="c11"><h1>Services <br></h1><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, aperiam voluptatum omnis magni placeat officiis fuga debitis odit vero accusamus sequi quasi, saepe repudiandae impedit iste recusandae sapiente sed, totam vitae assumenda quam dolorum ex maiores? Ipsam id laboriosam obcaecati ratione, fugiat velit architecto enim pariatur tenetur! Consectetur, a iusto?</p>
        </div>
    </div>
    <div class="c1">
        <div class="c11"><img src="/img/services.png" alt=""></div>
        <div class="c11"><h1>Contact me <br></h1><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, aperiam voluptatum omnis magni placeat officiis fuga debitis odit vero accusamus sequi quasi, saepe repudiandae impedit iste recusandae sapiente sed, totam vitae assumenda quam dolorum ex maiores? Ipsam id laboriosam obcaecati ratione, fugiat velit architecto enim pariatur tenetur! Consectetur, a iusto?</p>
        </div>
    </div>


    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   