<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1>
    <br>
    <div class="c1">
        <div class="c11"><img src="/img/p1.png"" alt=""></div>
        <div class="c11"><h1>A Smart Security Surveillance System <br></h1><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dicta quidem nesciunt commodi reprehenderit ex, obcaecati deserunt accusamus consequuntur laudantium. Laboriosam nihil facere iure fugiat nulla consequatur hic fugit repellat commodi assumenda odio, distinctio blanditiis, sed sapiente laudantium, dolor esse? Ad ab beatae cum totam, labore similique voluptatem dolorem error consequatur esse modi sapiente quasi tempore fuga, saepe ipsam praesentium perferendis id aliquam deserunt autem, veniam consequuntur omnis. Consequatur eveniet eos placeat iusto! Quidem eaque tenetur facilis vero eius sit tempore optio, veniam, qui aut doloremque. Quod, ducimus consectetur assumenda voluptates esse cumque qui placeat minus eaque, doloremque maiores ipsam.</p></div>
    </div>
    <div class="c1">
        <div class="c11"><img src="/img/p2.png"" alt=""></div>
        <div class="c11"><h1>Customer Experience Management<br></h1><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dicta quidem nesciunt commodi reprehenderit ex, obcaecati deserunt accusamus consequuntur laudantium. Laboriosam nihil facere iure fugiat nulla consequatur hic fugit repellat commodi assumenda odio, distinctio blanditiis, sed sapiente laudantium, dolor esse? Ad ab beatae cum totam, labore similique voluptatem dolorem error consequatur esse modi sapiente quasi tempore fuga, saepe ipsam praesentium perferendis id aliquam deserunt autem, veniam consequuntur omnis. Consequatur eveniet eos placeat iusto! Quidem eaque tenetur facilis vero eius sit tempore optio, veniam, qui aut doloremque. Quod, ducimus consectetur assumenda voluptates esse cumque qui placeat minus eaque, doloremque maiores ipsam.</p></div>
    </div>
    <div class="c1">
        <div class="c11"><img src="/img/p3.png"" alt=""></div>
        <div class="c11"><h1>Android Local Train Ticketing System 
            <br></h1><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dicta quidem nesciunt commodi reprehenderit ex, obcaecati deserunt accusamus consequuntur laudantium. Laboriosam nihil facere iure fugiat nulla consequatur hic fugit repellat commodi assumenda odio, distinctio blanditiis, sed sapiente laudantium, dolor esse? Ad ab beatae cum totam, labore similique voluptatem dolorem error consequatur esse modi sapiente quasi tempore fuga, saepe ipsam praesentium perferendis id aliquam deserunt autem, veniam consequuntur omnis. Consequatur eveniet eos placeat iusto! Quidem eaque tenetur facilis vero eius sit tempore optio, veniam, qui aut doloremque. Quod, ducimus consectetur assumenda voluptates esse cumque qui placeat minus eaque, doloremque maiores ipsam.</p></div>
    </div>
    <div class="c1">
        <div class="c11"><img src="/img/p4.png"" alt=""></div>
        <div class="c11"><h1>E-Parking Challan <br></h1><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dicta quidem nesciunt commodi reprehenderit ex, obcaecati deserunt accusamus consequuntur laudantium. Laboriosam nihil facere iure fugiat nulla consequatur hic fugit repellat commodi assumenda odio, distinctio blanditiis, sed sapiente laudantium, dolor esse? Ad ab beatae cum totam, labore similique voluptatem dolorem error consequatur esse modi sapiente quasi tempore fuga, saepe ipsam praesentium perferendis id aliquam deserunt autem, veniam consequuntur omnis. Consequatur eveniet eos placeat iusto! Quidem eaque tenetur facilis vero eius sit tempore optio, veniam, qui aut doloremque. Quod, ducimus consectetur assumenda voluptates esse cumque qui placeat minus eaque, doloremque maiores ipsam.</p></div>
    </div>

    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   