<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1>
    <div class="c1">
        <div class="c11"><img src="/img/s.jfif" alt=""></div>
        <div class="c11"><h1>Software Design</h1> <br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam aliquid suscipit minus qui, in repudiandae quia. Consectetur nemo aspernatur sint porro architecto consequuntur voluptatum similique molestiae laudantium nisi quibusdam quisquam accusantium error autem, tenetur et ex. Esse, temporibus quaerat a voluptatem eos animi earum ducimus dolores numquam optio sed consectetur est vitae quam ipsum quibusdam porro, nemo cumque odit doloremque magnam? Voluptatem veniam aut inventore dolor, accusamus vitae magni! Reprehenderit, reiciendis. Quidem id similique, tenetur laudantium perspiciatis quo consequatur voluptatum accusantium excepturi repellat labore vero dolor inventore molestias odit exercitationem eos nostrum eveniet reiciendis nulla modi unde. Hic, id quasi?</div>
    </div>
    <div class="c1">
        <div class="c11"><img src="/img/5.jfif" alt=""></div>
        <div class="c11"><h1>Web application</h1> <br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam aliquid suscipit minus qui, in repudiandae quia. Consectetur nemo aspernatur sint porro architecto consequuntur voluptatum similique molestiae laudantium nisi quibusdam quisquam accusantium error autem, tenetur et ex. Esse, temporibus quaerat a voluptatem eos animi earum ducimus dolores numquam optio sed consectetur est vitae quam ipsum quibusdam porro, nemo cumque odit doloremque magnam? Voluptatem veniam aut inventore dolor, accusamus vitae magni! Reprehenderit, reiciendis. Quidem id similique, tenetur laudantium perspiciatis quo consequatur voluptatum accusantium excepturi repellat labore vero dolor inventore molestias odit exercitationem eos nostrum eveniet reiciendis nulla modi unde. Hic, id quasi?</div>
    </div>
    <div class="c1">
        <div class="c11"><img src="/img/s3.jfif" alt=""></div>
        <div class="c11"><h1>Cyber Security</h1> <br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam aliquid suscipit minus qui, in repudiandae quia. Consectetur nemo aspernatur sint porro architecto consequuntur voluptatum similique molestiae laudantium nisi quibusdam quisquam accusantium error autem, tenetur et ex. Esse, temporibus quaerat a voluptatem eos animi earum ducimus dolores numquam optio sed consectetur est vitae quam ipsum quibusdam porro, nemo cumque odit doloremque magnam? Voluptatem veniam aut inventore dolor, accusamus vitae magni! Reprehenderit, reiciendis. Quidem id similique, tenetur laudantium perspiciatis quo consequatur voluptatum accusantium excepturi repellat labore vero dolor inventore molestias odit exercitationem eos nostrum eveniet reiciendis nulla modi unde. Hic, id quasi?</div>
    </div>
    <div class="c1">
        <div class="c11"><img src="/img/4.jfif" alt=""></div>
        <div class="c11"><h1>FrontEnd Devoleper</h1> <br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam aliquid suscipit minus qui, in repudiandae quia. Consectetur nemo aspernatur sint porro architecto consequuntur voluptatum similique molestiae laudantium nisi quibusdam quisquam accusantium error autem, tenetur et ex. Esse, temporibus quaerat a voluptatem eos animi earum ducimus dolores numquam optio sed consectetur est vitae quam ipsum quibusdam porro, nemo cumque odit doloremque magnam? Voluptatem veniam aut inventore dolor, accusamus vitae magni! Reprehenderit, reiciendis. Quidem id similique, tenetur laudantium perspiciatis quo consequatur voluptatum accusantium excepturi repellat labore vero dolor inventore molestias odit exercitationem eos nostrum eveniet reiciendis nulla modi unde. Hic, id quasi?</div>
    </div>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   